<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdotti.bibleone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cdotti.bibleone.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Activity de capitulos -->
        <activity
            android:name="com.cdotti.bibleone.ChapterActivity"
            android:label="@string/title_activity_book"
            android:parentActivityName="com.cdotti.bibleone.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cdotti.bibleone.MainActivity" />
        </activity>
        <!-- Activity de versiculos -->
        <activity
            android:name="com.cdotti.bibleone.VerseActivity"
            android:label="@string/title_activity_verse"
            android:parentActivityName="com.cdotti.bibleone.ChapterActivity" 
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cdotti.bibleone.ChapterActivity" />
        </activity>
    </application>

</manifest>
